@import "../../../utils/scss/mixins.scss";

.MobileHeader {
  display: flex;
  flex-direction: row-reverse;
  margin: 16px 24px;
}

.MobileMenu {
  @include position-center;
  position: fixed;

  height: 100vh;
  width: 100vw;

  &__Content {
    @include position-center;
    margin: 24px;
  }
}
